* {
    margin: 0;
    // padding: 0;
}

html {
    background-color: #FEE071;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

#logo {
    height: 15vh;
    display: inline-block;
    vertical-align: middle;
}