* {
    margin: 0;
    // padding: 0;
}

html {
    background-color: #FEE071;
    font-family: 'nothing you could do about it';
}

#logo {
    height: 15vh;
    display: inline-block;
    vertical-align: middle;
}