* {
    margin: 0;
    // padding: 0;
}

html {
    background-color: #9C1A26;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

#logo {
    // height: 15vh;
    // display: inline-block;
    // vertical-align: middle;
    width: 75px;
}
