@use "general";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
$section_height: 30vh;
$font_large: 2rem;
$font_small: 1.1rem;
$title_style: 1.5rem;

.font-small {
    font-size: $font_small;
    font-weight: 900;
    // font-family: nothing you could do;
}

.titlestyle {
    font-size: $title_style;
    color: #000;
    font-family: 'Nothing You Could Do', cursive;
}

.titlestyleb {
    font-size: $title_style;
    color: #fff;
    font-family: 'Nothing You Could Do', cursive;
}

body {
    background-image: url(https://images.unsplash.com/photo-1582284540020-8acbe03f4924);
}

nav {
    position: fixed;
    border: 2px solid black;
    z-index: 41;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0.4rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    color: #000;
    font-family: 'Diplomata SC', cursive;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
}

#menu {
    user-select: none;
    position: fixed;
    // position: sticky;
    right: 0;
    top: 5vh;
}

.line {
    display: block;
    height: 4px;
    width: 9vw;
    border-radius: 10px;
    background: #000;
    margin: 8px;
    margin-right: 20px;
}

h2 {
    align-self: center;
    justify-self: center;
    font-size: 1rem;
}

h3 {
    display: block;
    align-self: center;
    margin-top: 50%;
}

p {
    line-height: 2.2;
}

.description {
    font-style: italic;
}

#dropdown {
    background-color: #FEE071;
    display: none;
    position: absolute;
    white-space: 15px;
    left: 100px;
    position: relative;
    width: 150vw;
    height: 55vh;
    >li {
        // text-decoration: none;
        display: block;
        padding: 30px;
        white-space: 20px;
    >a {
        text-decoration: none;
        color: #000;
        font-size: $font_small;
        font-family: 'diplomata sc';
        }
    }
}

#menu:focus-within {
    pointer-events: none;
}

#menu:focus-within #dropdown {
    /* when fw is active, the child of it */
    display: block;
    pointer-events: all;
}

.foodmenu {
    // border: 1px solid black;
    position: relative;
    z-index: 40;
    text-align: center;
    padding: 10px;
    // background-color: #FEE071;
    margin-left: 7.5px;
    margin-right: 7.5px;
    top: 20vh;
   >h4 {
    color: #fff;
   }
    }
    // margin-bottom: 10vh;

.drink {
        background-color: black;
        border: #fff 2px solid;
        color: #fff;    
        padding: 8px 16px;
        // margin-top: 50px;
        margin-bottom: 10px;
            position: relative;
            // top: 20%;
            left: 9%;
            margin-top: 50px;
            // -ms-transform: translate(-80%, -80%);
            transform: translate(-50%, -50%);
            text-decoration: none;
            border-radius: 3px;
            transition: all .5s ease;
            text-transform: uppercase;
            top: 3vh;

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }

.food {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    position: relative;
    // top: 80%;
    left: -7%;
    // -ms-transform: translate(-80%, -80%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    margin-top: 10px;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

article {
    top: 20vh;
    position: relative;
    text-align: center;
    left: 5%;
    background-color: rgb(43, 45, 47);
    box-sizing: border-box;
    padding-top: 0.1vh;
    width: 90vw;
    // right: 0px;
    color: #fff;
    }

.menuhead {
    border-bottom: #fff 2px solid;
    // box-sizing: border-box;
    text-align: right;
    display: grid;
    color: #fff ;
    // padding: 1em 1rem;
    margin: 2rem;
    > h2 {
        text-align: left;
        color: #fff;
    }
    >p {
        font-style: italic;
    }
    >p {
        border-top: #fff;
}
}




