@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
}

html {
  background-color: #FEE071;
  font-family: "nothing you could do about it";
}

#logo {
  height: 15vh;
  display: inline-block;
  vertical-align: middle;
}

.font-small {
  font-size: 1.1rem;
  font-weight: 900;
}

.titlestyle {
  font-size: 1.5rem;
  color: #000;
  font-family: "Nothing You Could Do", cursive;
}

.titlestyleb {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Nothing You Could Do", cursive;
}

body {
  background-image: url(https://images.unsplash.com/photo-1582284540020-8acbe03f4924);
}

nav {
  position: fixed;
  border: 2px solid black;
  z-index: 41;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0.4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  color: #000;
  font-family: "Diplomata SC", cursive;
  text-align: center;
  justify-content: center;
  font-size: 0.5em;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  right: 0;
  top: 5vh;
}

.line {
  display: block;
  height: 4px;
  width: 9vw;
  border-radius: 10px;
  background: #000;
  margin: 8px;
  margin-right: 20px;
}

h2 {
  align-self: center;
  justify-self: center;
  font-size: 1rem;
}

h3 {
  display: block;
  align-self: center;
  margin-top: 50%;
}

p {
  line-height: 2.2;
}

.description {
  font-style: italic;
}

#dropdown {
  background-color: #FEE071;
  display: none;
  position: absolute;
  white-space: 15px;
  left: 100px;
  position: relative;
  width: 150vw;
  height: 55vh;
}
#dropdown > li {
  display: block;
  padding: 30px;
  white-space: 20px;
}
#dropdown > li > a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-family: "diplomata sc";
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  /* when fw is active, the child of it */
  display: block;
  pointer-events: all;
}

.foodmenu {
  position: relative;
  z-index: 40;
  text-align: center;
  padding: 10px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  top: 20vh;
}
.foodmenu > h4 {
  color: #fff;
}

.drink {
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 10px;
  position: relative;
  left: 9%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-transform: uppercase;
  top: 3vh;
}
.drink:hover {
  color: #000;
  background-color: #fff;
}

.food {
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  position: relative;
  left: -7%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-transform: uppercase;
  margin-top: 10px;
  top: 3vh;
}
.food:hover {
  color: #000;
  background-color: #fff;
}

article {
  top: 20vh;
  position: relative;
  text-align: center;
  left: 5%;
  background-color: rgb(43, 45, 47);
  box-sizing: border-box;
  padding-top: 0.1vh;
  width: 90vw;
  color: #fff;
}

.menuhead {
  border-bottom: #fff 2px solid;
  text-align: right;
  display: grid;
  color: #fff;
  margin: 2rem;
}
.menuhead > h2 {
  text-align: left;
  color: #fff;
}
.menuhead > p {
  font-style: italic;
}
.menuhead > p {
  border-top: #fff;
}/*# sourceMappingURL=menu.css.map */