@use "general";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
$section_height: 30vh;
$font_large: 2rem;
$font_small: 0.8rem;
$title_style: 20px;

.font-small {
    font-size: $font_small;
    font-weight: 900;
    // font-family: nothing you could do;
}

.titlestyle {
    font-size: $title_style;
    color: #000;
    font-family: 'Nothing You Could Do', cursive;
}

.titlestyleb {
    font-size: $title_style;
    color: #fff;
    font-family: 'Nothing You Could Do', cursive;
}
// the three items below are on the '_general.scss'
/* * {
    margin: 0;
    padding: 0;
}

html {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
    height: 10vh;
} */

nav {
    position: fixed;
    border: 2px solid black;
    z-index: 40;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0.4rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    color: #000;
    font-family: 'Diplomata SC', cursive;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
    }

#menu {
    user-select: none;
    position: fixed;
    // bottom: 50px;
    right: 0;
    top: 5vh;
    /* prevents double clicking from selecting stuff */
    /* in the real website, you don't want the rest to be pushed down, you want it to be overlay. How do we do that? What's the secret here? */
    /* display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431; */
}
.line {
    display: block;
    height: 4px;
    width: 9vw;
    border-radius: 10px;
    background: #000;
    margin: 8px;
    margin-right: 20px;
}
h2 {
    align-self: center;
    justify-self: center;
    font-size: 1rem;
}

h3 {
    display: block;
    align-self: center;
    margin-top: 50%;
}
#dropdown {
    background-color: #FEE071;
    display: none;
    position: absolute;
    white-space: 15px;
    left: 100px;
    position: relative;
    width: 150vw;
    height: 55vh;
    > li{
        // text-decoration: none;
        display: block;
        padding: 30px;
        white-space: 20px;
        > a {
            text-decoration: none;
            color: #000;
            font-size: $font_small;
            font-family: 'diplomata sc';
    }
    }
}

/* focus within. The checkbox hack doesn't work */

#menu:focus-within {
    pointer-events: none;
}

#menu:focus-within #dropdown{
    /* when fw is active, the child of it */
    display: block;
    pointer-events: all;
}

.slideshow {
    position: relative;
    height: 300px;
    width: 300px;
    top: 25pt;
    bottom: 5px;

    img {
    position: absolute;
    top: 15vh;
    // bottom: 15vh;
    max-width: 400px;
    min-height: 300px;
    animation-name: frontpagegallery;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
    animation-delay: 6s;
    }
    &:nth-of-type(2) {
    animation-delay: 4s;
    }
    &:nth-of-type(3) {
    animation-delay: 2s;
    }
    &:nth-of-type(4) {
    animation-delay: 0s;
    }
}
}
@keyframes frontpagegallery {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about {
    height: $section_height;
    position: relative;
    padding: 10px;
    margin-top: 100px;
    background-color: #000;
    color: #fff;

}

.button {
    background-color: #000;
    border: #fff 2px solid;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-80%, -80%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    &:hover{
        color: #000;
        background-color: #fff;
    }
}

#hoursandlocation {
    // height: $section_height;
    position: static;
    text-align: center;
    padding: 10px;
    // margin-top: 10vh;
    background-color: #fff;
    color: #000;
    > p {
        font-style: $font_small;
        font-weight: 800;
        padding: 0.5em;
    }
    > a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 0.5em;
    }



}
// .map {
//     overflow: hidden;
//     // position: relative;
//     height: 0;
// }
// h4 {
//     font-size: 38px;
//     color: #000;
//     font-family: 'Nothing You Could Do', cursive;
// }

// instructions for how to get socials were available on W3Schools, which is where the css below came from: https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons
// .fa {
//     padding: 10px;
//     font-size: 30px;
//     width: 50px;
//     text-align: center;
//     text-decoration: none;
//     margin: 5px 2px;
// }
// .fa-facebook {
//     background: #3B5998;
//     color: white;
// }

// .fa-instagram {
//     background: #125688;
//     color: white;
// }

// .fa-snapchat-ghost {
//     background: #fffc00;
//     color: white;
//     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
// }
/* it needs to have a tab index. when you click tab it starts going through different things. If it was assigned a different number, it will tab through everything */

/* there is a property to make scolling smooth. it's called smooth-scrolling */

.social {
    width: 400px;
    text-align: center;
    // margin: 30vh auto;
}

.icons {
    list-style: none;
    margin: 0.8em;
    li{
        display: inline-block;
    }
}

.foodmenu {
    // border: 1px solid black;
    position: relative;
    z-index: 40;
    text-align: center;
    padding: 10px;
    // background-color: #FEE071;
    margin-left: 7.5px;
    margin-right: 7.5px;
    top: 20vh;

    >h4 {
        color: #fff;
    }
}

// margin-bottom: 10vh;

.drink {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    // margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    // top: 20%;
    left: 9%;
    margin-top: 50px;
    // -ms-transform: translate(-80%, -80%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.food {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    position: relative;
    // top: 80%;
    left: -7%;
    // -ms-transform: translate(-80%, -80%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    margin-top: 10px;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

article {
    top: 20vh;
    position: relative;
    text-align: center;
    left: 5%;
    background-color: rgb(43, 45, 47);
    box-sizing: border-box;
    padding-top: 0.1vh;
    padding: 0.1vh 5vw;
    width: 90vw;
    // right: 0px;
    color: #fff;
    hr {
        color:#fff;
        margin-top: 20px;
        margin-bottom: 12px;
    }
}

.menuhead {
    border-bottom: #fff 2px solid;
    // box-sizing: border-box;
    text-align: right;
    display: grid;
    color: #fff;
    // padding: 1em 1rem;
    margin: 2rem;
    // > div {border-bottom: #fff 1px solid;}

    >h2 {
        text-align: left;
        color: #fff;
    }

    >p {
        font-style: italic;
    }

    >p {
        border-top: #fff;
    }
}// add hover effect after media query

footer {
        border: 2px solid black;
        display: grid;
        margin: 0.4rem;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #fff;
        color: #000;
        // text-align: center;
        // justify-content: center;
        font-size: 0.5em;
    text-align: center;
    .icons {
            color: #000;
            text-transform: uppercase;
            display: inline-flexbox;
            margin-right:0.5em;
            a   {
                text-decoration: none;
                color: #000;
                font-size: 1rem;
                justify-content: space-between 5px;
                padding: 0;
                }
            }
        >p {
            font-size: 0.8rem;
            }
}



// .icons {
//     width: 100%;
//     font-size: $font_small;
// }

// ul {
//     text-decoration: none;
// 