@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #9C1A26;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

#logo {
  width: 75px;
}

.font-small {
  font-size: 0.8rem;
  font-weight: 900;
}

.titlestyle {
  font-size: 1.5rem;
  color: #000;
  font-family: "Nothing You Could Do", cursive;
}

.titlestyleb {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Nothing You Could Do", cursive;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  border: 2px solid black;
  padding: 20px;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-family: "Diplomata SC", cursive;
}
nav .header-copy {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
nav .header-copy > a {
  text-decoration: none;
  color: #9C1A26;
  font-weight: 800;
}
nav #menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav .line {
  display: block;
  height: 4px;
  width: 9vw;
  border-radius: 10px;
  background: #000;
  margin: 8px;
  margin-right: 20px;
}
nav #pcview {
  display: none;
  font-style: "Nothing you could do", cursive;
  color: limegreen;
}
nav #dropdown {
  background-color: #FEE071;
  display: none;
  position: absolute;
  right: 0;
  white-space: 15px;
  min-width: 150px;
  z-index: 10;
}
nav #dropdown > li {
  display: block;
  padding: 30px;
  white-space: 20px;
}
nav #dropdown > li > a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 12px 16px;
  font-size: 25px;
  font-family: "Roboto";
  position: relative;
}
nav #dropdown > li > a:hover {
  display: block;
  background-color: #fff;
}
nav #menu:focus-within {
  pointer-events: none;
}
nav #menu:focus-within #dropdown {
  /* when fw is active, the child of it will display*/
  display: block;
  pointer-events: all;
}

.slideshow {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.slideshow img {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 350px;
  -webkit-animation-name: frontpagehallery;
  animation-name: frontpagegallery;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}
.slideshow img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.slideshow img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.slideshow img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.slideshow img:nth-of-type(4) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes frontpagegallery {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes frontpagegallery {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#about {
  padding: 10px;
  height: 200px;
  background-color: #000;
  color: #fff;
}
#about .button {
  background-color: #000;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  position: relative;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -10%);
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
}
#about .button:hover {
  color: #000;
  background-color: #fff;
}

#hoursandlocation {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
}
#hoursandlocation > p {
  font-style: 0.8rem;
  font-weight: 800;
  padding: 0.5em;
}
#hoursandlocation > a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0.5em;
}

.tabmap {
  display: none;
}

.foodmenu {
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 5;
}
.foodmenu > h4 {
  color: #fff;
}

.drink {
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 10px;
  position: relative;
  left: 9%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-transform: uppercase;
  top: 3vh;
}
.drink:hover {
  color: #000;
  background-color: #fff;
}

.food {
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  position: relative;
  left: -7%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-transform: uppercase;
  margin-top: 10px;
  top: 3vh;
}
.food:hover {
  color: #000;
  background-color: #fff;
}

.top {
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 8px 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  text-transform: uppercase;
  top: 3vh;
}
.top:hover {
  color: #000;
  background-color: #fff;
}

.aboutpage {
  background-color: #000;
  text-align: center;
  padding: 1em;
}

#vidcontain {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#vidcontain > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article > .longmenu {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
article > h1 {
  background-color: #000;
  text-align: center;
}

.menu-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.menu-section div {
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.menu-section div h3 {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 900;
  font-style: italic;
}
.menu-section .menuhead {
  border-bottom: #fff 2px solid;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-style: italic;
  align-items: center;
}
.menu-section h2 {
  text-align: left;
  color: #fff;
  font-size: 2rem;
}

.menuitems {
  text-align: left;
  background-color: rgb(43, 45, 47);
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1vh 5vw;
  width: 90vw;
  color: #fff;
}
.menuitems hr {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 12px;
}

#aboutus {
  background-color: rgb(43, 45, 47);
  color: #fff;
  line-height: 1.8;
  padding: 5%;
}
#aboutus > p {
  margin-top: 2%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 2rem;
  background-color: #000;
}
.gallery > h1 {
  text-align: center;
}
.gallery > section {
  display: grid;
  grid-template-columns: 1fr;
}
.gallery > section > img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.gallery > section > div {
  position: relative;
  color: #fff;
  padding: 0.5em;
}
.gallery > section > div > h2 {
  margin-bottom: 20px;
}
.gallery > section > div > h2 > p:last-child {
  bottom: 10px;
}

#hidden {
  display: none;
}

footer {
  border: 2px solid black;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: #000;
  grid-column: 1/span 4;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
footer > p {
  grid-column: 1/span 4;
  font-weight: 900;
}
footer .icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/span 4;
  align-items: center;
  justify-content: center;
  list-style: none;
}
footer .icons a {
  text-decoration: none;
  color: #000;
  grid-column: 1/span 4;
  margin-bottom: 1em;
}

.contact {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1/span 4;
  width: 100%;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  background-color: #000;
  border: #000 2px solid;
  color: #fff;
}
.contact:hover {
  color: #000;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  #logo {
    width: 90px;
  }
  nav {
    font-size: 1.5rem;
  }
  nav .header-copy {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
  }
  nav .header-copy > a {
    color: #9C1A26;
    font-weight: 800;
    font-style: "nothing you could do", cursive;
    pointer-events: none;
  }
  nav .header-copy #dropdown {
    display: none;
  }
  #about {
    padding: 40px;
    height: 150px;
    line-height: 1.8;
  }
  #hoursandlocation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
  }
  #hoursandlocation > h3 {
    font-size: 2rem;
  }
  #hoursandlocation > h4 {
    font-size: 1.5rem;
  }
  #hoursandlocation #address {
    font-size: 0.8em;
  }
  .tabmap {
    display: initial;
  }
  .tabmap > a {
    text-decoration: none;
    background-color: #FEE071;
    border: #000 2px solid;
    color: #000;
    padding: 6px 12px;
    position: relative;
    border-radius: 3px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  .tabmap > a:hover {
    color: #fff;
    background-color: #000;
  }
  #map {
    display: none;
  }
  .foodmenu {
    background-image: url(/media/tabmenuback.jpeg);
    z-index: 1;
    font-size: 2rem;
  }
  .foodmenu > h4 {
    font-size: 2rem;
  }
  .longmenu {
    background-image: url(/media/tabmenuback.jpeg);
  }
  #hidden {
    display: initial;
    width: 100%;
  }
  #hidden .pcgallery {
    display: grid;
    grid-template-columns: repeat(auto-fit(minmax 350px 1fr));
    border: 1px solid #ccc;
    position: relative;
    left: 40%;
  }
  #hidden .pcgallery:hover {
    border: 1px solid black;
  }
  #hidden .pcgallery > img {
    width: 100%;
    height: auto;
  }
  #hidden .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  body {
    background-image: url(/media/woodgrain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    width: 20vh;
  }
  nav {
    font-size: 2.5rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  nav #pcview {
    display: initial;
    position: absolute;
    bottom: 0;
    right: 10;
  }
  nav #pcview > a {
    color: #000;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background-color: #fff;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  nav #pcview > a:hover {
    background-color: #9C1A26;
    color: #fff;
    border: 2px solid black;
  }
  #menu {
    display: none;
  }
  .slideshow img {
    min-height: 900px;
  }
  #pcview {
    display: initial;
    font-style: "Nothing you could do", cursive;
    color: limegreen;
    display: grid;
  }
  .header-copy {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .header-copy > a {
    pointer-events: none;
    color: #9C1A26;
    font-weight: 800;
  }
  .foodmenu {
    background-image: url(/media/backgroundpc.avif);
    z-index: 1;
    font-size: 2rem;
  }
  .foodmenu > h4 {
    font-size: 2rem;
  }
  .longmenu {
    background-image: url(/media/backgroundpc.avif);
  }
  #aboutus {
    background-color: rgb(43, 45, 47);
    color: #fff;
    line-height: 1.8;
    padding: 5%;
    display: grid;
    top: 80vh;
  }
  #aboutus > p {
    margin-top: 2%;
    font-size: 1.5em;
  }
  .ourteam {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutpage {
    background-color: #000;
    text-align: center;
    padding: 1em;
  }
  #pcpictures {
    display: initial;
  }
}/*# sourceMappingURL=style.css.map */