@use "general";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
$section_height: 30vh;
$font_large: 2rem;
$font_small: 0.8rem;
$title_style: 1.5rem;

.font-small {
    font-size: $font_small;
    font-weight: 900;
    // font-family: nothing you could do;
}

.titlestyle {
    font-size: $title_style;
    color: #000;
    font-family: 'Nothing You Could Do', cursive;
}

.titlestyleb {
    font-size: $title_style;
    color: #fff;
    font-family: 'Nothing You Could Do', cursive;
}
// a .home img#logo {
//     width: 75px;
// }
nav {
    position: sticky;
    border: 2px solid black;
    padding: 20px;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-family: 'Diplomata SC', cursive; 
    // >li {
    //     // z-index: 100;
    // }
}

.header-copy {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    >a {
        text-decoration: none;
        color: #9C1A26;
        font-weight: 800;
}
}
#menu {
    user-select: none;
}
.line {
    display: block;
    height: 4px;
    width: 9vw;
    border-radius: 10px;
    background: #000;
    margin: 8px;
    margin-right: 20px;
}
#pcview{
    display: none;
    font-style: 'Nothing you could do', cursive;
    color: limegreen;
}

#dropdown {
    background-color: #FEE071;
    display: none;
    // position: absolute;
    white-space: 15px;
    // left: 100px;
    // position: relative;
    width: 150vw;
    height: 60vh;
    z-index: 10;
    > li{
        display: block;
        padding: 30px;
        white-space: 20px;
        > a {
            text-decoration: none;
            color: #000;
            font-size: 25px;
            font-family: 'Roboto';
            position: relative;
    }
    }
}

#menu:focus-within {
    pointer-events: none;
}

#menu:focus-within #dropdown{
    /* when fw is active, the child of it */
    display: block;
    pointer-events: all;
}

.slideshow {
    position: relative;
    height: 350px;
    overflow: hidden;
    img {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 350px;
    -webkit-animation-name: frontpagehallery;
    animation-name: frontpagegallery;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    &:nth-of-type(1) {
        -webkit-animation-delay: 6s;
    animation-delay: 6s;
    }
    &:nth-of-type(2) {
        -webkit-animation-delay: 4s;
    animation-delay: 4s;
    }
    &:nth-of-type(3) {
        -webkit-animation-delay: 2s;
    animation-delay: 2s;
    }
    &:nth-of-type(4) {
        -webkit-animation-delay: 0s;
    animation-delay: 0s;
    }
}
}
@keyframes frontpagegallery {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about {
    // height: $section_height;
    padding: 10px;
    height: 200px;
    background-color: #000;
    color: #fff;

}

.button {
    background-color: #000;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    position: absolute;
    
    top: 110%;
    left: 50%;
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    text-decoration: none;
    border-radius: 3px;
    // transition: all .5s ease;
    text-transform: uppercase;
    &:hover{
        color: #000;
        background-color: #fff;
    }
}

#hoursandlocation {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    > p {
        font-style: $font_small;
        font-weight: 800;
        padding: 0.5em;
    }
    > a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 0.5em;
    }
}

.icons {
    list-style: none;
    margin: 0.8em;
    li{
        display: inline-block;
        position: relative;
        right: 10%;
    }
}

.contact {
    text-decoration: none;
    position: relative;
    // right: 3%;
    color: #000;
    font-size: $font_small;
    background-color: #000;
        border: #fff 2px solid;
        color: #fff;
        padding: 8px 16px;
        &:hover {
            color: #000;
                background-color: #fff;
        }
}

.foodmenu {
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 5;
    >h4 {
        color: #fff;
    }
}

// margin-bottom: 10vh;

.drink {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 10px;
    position: relative;    
    left: 9%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.food {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    position: relative;
    // top: 80%;
    left: -7%;
    // -ms-transform: translate(-80%, -80%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    margin-top: 10px;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.top {
    background-color: black;
    border: #fff 2px solid;
    color: #fff;
    padding: 8px 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
    text-transform: uppercase;
    top: 3vh;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.videoandmessage {
    background-color: #000;
}

article {
    >.longmenu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
            }
            > h1 {
                background-color: #000;
                text-align: center;
            }
}

.menu-section {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
        div {
            width: 100%;
            border-bottom: 1px solid #fff;
            padding: 20px 0;

            h3 {
                font-size: $font_small;
                color: rebeccapurpleclas;
                font-weight: 900;
                font-style: italic;
                
            }
                } 

                    .menuhead {
                    border-bottom: #fff 2px solid;
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-style: italic;
                    align-items: center;
                    }
                    h2 {
                        text-align: left;
                        color: #fff;
                        font-size: $font_large;
                        }
                    
            }
        
.menuitems {
    text-align: left;
    background-color: rgb(43, 45, 47);
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.1vh 5vw;
    width: 90vw;
    color: #fff;
    hr {
        color:#fff;
        margin-top: 20px;
        margin-bottom: 12px;
    }
        }
        // add hover effect after media query

#aboutus {
    background-color: rgb(43, 45, 47);
    color: #fff;
    line-height: 1.8;
    padding: 5%;

    >p {
        margin-top: 2%;
    }
}

.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: min-content;
        gap: 2rem;
        background-color: #000;
            > section {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: 250px 50px;
                    > img {
                        max-width: 100%;
                        max-height: 100%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                        > div {
                            position: relative;
                            color: black;
                            padding: 0.5em;
                        }
                }
        }        

// .gallery {
//     display: grid;
//     grid-template-columns: 1fr;
//     width: 250px;
// }



footer {
        border: 2px solid black;
        display: grid;
        // margin: 0.4rem;
        // padding-bottom: 0.2rem;
        // padding-top: 0.2rem;
        // padding-left: 1rem;
        // padding-right: 1rem;
        background-color: #fff;
        color: #000;
        // text-align: center;
        // justify-content: center;
        font-size: 0.5em;
        text-align: center;
            .icons {
                color: #000;
                text-transform: uppercase;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-right:0.5em;
                    a   {
                    text-decoration: none;
                    color: #000;
                    font-size: 1rem;
                    justify-content: space-between 5px;
                    padding: 0;
                    }
            }
                    >p {
                        font-size: 0.8rem;
                        font-weight: 900;
                    }
}


@media only screen and (min-width:768px) {
    #logo {
            width: 100px;
    }
    nav {
        font-size: 1.5rem;
        // >li {
        //     // z-index: 100;
        // }
    }
        .header-copy {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            > a {
                color: #9C1A26;
                font-weight: 800;
                font-style: 'nothing you could do', cursive;
                pointer-events: none;
        }
    }
        #dropdown {
            display: none;
    
}

#about {
    // height: $section_height;
    padding: 10px;
    height: 200px;
    background-color: #000;
    color: #fff;
}

.button {
    background-color:#000;
    border: #fff 2px solid;
    color: #fff;
    // padding: 10px 20px;
    display: flex;
    // position: relative;
    justify-content: center;
    align-items: center;
    top: 110%;
    left: 50%;
    -ms-transform: translate(-80%, -10%);
    transform: translate(-50%, -10%);
    // text-decoration: none;
    border-radius: 3px;
    // transition: all .5s ease;
    // text-transform: uppercase;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

#hoursandlocation {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;

    >p {
        font-style: $font_small;
        font-weight: 800;
        padding: 0.5em;
    }

    >a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 0.5em;
    }
}
}

// .icons {
//     width: 100%;
//     font-size: $font_small;
// }

// ul {
//     text-decoration: none;
// 

// @media only screen and (min-width:1000px) {
//         #logo {
//             width: 100px;
//         }

//         nav {
//             font-size: 1.5rem;

//             >li {
//                 z-index: 100;
//             }
//         }

//         #menu {
//             display: none;
//         }

//         // #menu:focus-within {
//         //                 pointer-events: none;
//         // }
//         // #menu:focus-within #dropdown {
//         // /* when fw is active, the child of it */
//         //         display: block;
//         //         pointer-events: all;
//         // }
//         #pcview {
//             display: initial;
//         }

//         .header-copy {
//                     display: grid;
//                     grid-template-columns: 1fr;
//                     justify-content: center;
//                     align-items: center;

//                         >a {
//                             pointer-events: none;
//                             color: #9C1A26;
//                             font-weight: 800;
//                         }   
//                     }   
//                 }